@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {

        <div class="container">
            <ul class="nav justify-content-end ">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Användare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="Index">Klasser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Kurser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Inställningar</a>
                </li>
            </ul>
        </div>

    }

}