@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to YLE</h2>    
</div>
<div>
    <p>If you dont already have a login to our school contact our admin at admin@domain for a account</p>
</div>

