@model IEnumerable<ApplicationUser>

<a asp-action="Create">Add New User</a>

<h5 class="mt-4">Admins</h5>
@foreach (var user in ViewBag.Admins)
{
    <div>@user.GetDisplayName</div>
}

<h5 class="mt-4">Teachers</h5>
@foreach (var user in ViewBag.Teachers)
{
    <div>@user.GetDisplayName</div>
}

<h5 class="mt-4">Students</h5>
@foreach (var user in ViewBag.Students)
{
    <div>@user.GetDisplayName</div>
}
